= simple_form_for(@user, url: profile_path) do |f|
  = f.input :name
  = f.input :headline
  = f.input :description
  = f.input :location
  = f.input :email
  = f.input :image
  = f.input :linkedin_profile
  = f.input :skill_list, hint: "A list of your skills, comma separated", input_html: { value: f.object.skill_list.join(', ') }
  = f.input :interest_list, hint: "A list of your interests, comma separated", input_html: { value: f.object.interest_list.join(', ') }

  = f.button :submit, input_html: { class: "btn btn-default"}
