- title "#{@user.name} - #{@user.headline}"
.col-md-8.col-md-offset-2.mt30
  .panel.panel-default
    .panel-body
      .row
        .col-xs-12.col-sm-4.text-center
          %img.center-block.img-circle.img-responsive{:alt => @user.name, :src => @user.image.thumb('200x200#').url}/
        .col-xs-12.col-sm-8
          %h2
            = @user.name
            %br
            %small
              = @user.headline
          %p
            = @user.interests
          %p
            = @user.skills
          %p
            = @user.social_media_links
        .col-md-12.mt10
          %p.lead
            = @user.headline

        .col-md-12
          %h2
            Location
            %small= @user.location
          = map(:center => { :latlng => @user.coordinates, :zoom => 12 }, :markers => [{ :latlng => @user.coordinates, :popup => "#{@user.name} - #{@user.headline}" }])
