!!! 5
%html(lang="en")
  %head
    = javascript_include_tag "application", "flatty", 'data-turbolinks-track' => true
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "developersin"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "flatty", :media => "all"
    = yield(:page_stylesheet) if content_for?(:page_stylesheet)


  %body{id: "#{controller_name}-#{action_name}"}
    %header
      .content
        .col-md-5
          %h1
            = link_to root_path do
              Belgian Developer Directory
        .col-md-7
          = render "layouts/navigation"
    #belgian-flag
      #black.flag-third.pull-left
      #yellow.flag-third.pull-left
      #red.flag-third.pull-left
      .clearfix
    .content
      = render "layouts/notices"
      = yield
      .clearfix
    %footer.ac.mt40
      photo credit:
      %a{:href => "http://pixabay.com/fr/site-web-code-html-codage-647013/"} lmonk72 CC0 Public Domain
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = yield(:page_javascript) if content_for?(:page_javascript)
